---
import { Image } from "astro:assets";

import BadgeWork from "@ui/BadgeWork.astro";
import SocialButtonLinks from "@ui/SocialButtonLinks.astro";
import ButtonLink from "@ui/ButtonLink.astro";

import MailForward from "@icons/MailForward.astro";
import FileExport from "@icons/FileExport.astro";
---

<script>
  import { copyTextToClipboard } from "../../utils/copy-text-to-clipboard.util.ts";

  document.addEventListener("DOMContentLoaded", () => {
    const button = document.querySelector(
      "#btn-copy-text"
    ) as HTMLButtonElement;

    const toast = document.getElementById("toast") as HTMLDivElement;

    button?.addEventListener("click", () => {
      button.disabled = true;
      copyTextToClipboard("pabloexelopezh@gmail.com");
      showToast();
    });

    function showToast() {
      toast?.classList.toggle("show");

      setTimeout(() => {
        toast?.classList.toggle("show");
        button.disabled = false;
      }, 1500);
    }
  });
</script>

<section
  class="bg-secondary rounded-2xl p-8 flex flex-col sm:flex-row items-center gap-6 animate-pulse-fade-in animate-duration-500"
>
  <figure class="flex flex-shrink-0 bg-tertiary rounded-full">
    <Image
      height={200}
      width={200}
      class="h-48 w-48 object-cover translate-y-2 rounded-full" 
      src="/mifoto.png"
      alt="Foto de Pablo Lopez"
    />
  </figure>

  <div class="flex flex-col gap-4">
    <header class="flex flex-wrap gap-2 sm:gap-0 items-center justify-between">
      <BadgeWork />
      <SocialButtonLinks />
    </header>

    <div class="space-y-1">
      <h1>PABLO LÓPEZ</h1>
      <p>
        <strong class="text-green-200">Software Developer || Cybersecurity</strong> <br/> <br/>
        I am a constantly learning software developer, trained in front-end, back-end, and cybersecurity. I have earned certifications in these areas and participated in bootcamps and job simulation environments, which has allowed me to acquire practical skills in web development and collaborative tools.

        In these projects, I have contributed to the creation of web applications using advanced technologies, strengthening my ability to work in teams and apply agile methodologies. I have used tools such as Jira, Trello, and Scrum methodologies to manage tasks and meet deadlines effectively.
        
        Committed to my professional growth, I seek to join innovative teams where I can contribute my knowledge and continue developing in new technological challenges.
      </p>
    </div>


    <footer class="flex ml-auto gap-2">
      <button
        class="inline-flex items-center text-sm justify-center rounded-xl bg-neutral-800 p-2 text-neutral-50 opacity-80 transition-opacity duration-150 hover:opacity-100 group hover:cursor-pointer font-semibold gap-1"
        id="btn-copy-text"
      >
        <MailForward />
        EMAIL
      </button>

      <ButtonLink href="cv.pdf" role="link">
        <FileExport className="mr-1" />
        DESCARGAR CV
      </ButtonLink>
    </footer>
  </div>
</section>
